html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa9a9;
  border-radius: 10px;
}